<section class="py-4" id="education">
    <div class="resume-section-content">
        <h2 class="mb-3">Education</h2>
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-3"
            *ngFor="let education of educations">
            <div class="flex-grow-1">
                <h4>{{education.degree}}, {{education.institute}}</h4>
                <div class="ps-4">
                    <div *ngIf="education.minors">Minor(s): {{education.minors}}</div>
                    <div *ngIf="education.gpa">GPA: {{education.gpa | number: '1.1-1'}}</div>
                </div>
            </div>
            <div class="flex-shrink-0">
                <h5 class="text-primary">{{education.startDate | date:'MMM YYYY'}} - {{education.endDate | date:'MMM YYYY'}}</h5>
            </div>
        </div>
    </div>
</section>