<div class="container-fluid">
    <app-about class="cssanimation fadeIn"></app-about>
    <hr class="m-0" />
    <!-- Experience-->
    <app-experience class="cssanimation fadeIn"></app-experience>
    <hr class="m-0" />
    <!-- Skills-->
    <app-skills class="cssanimation fadeIn"></app-skills>
    <hr class="m-0" />
    <!-- Education-->
    <app-education class="cssanimation fadeIn"></app-education>
    <!-- <hr class="m-0" /> -->
    <!-- Interests-->
    <!-- <app-interests class="cssanimation fadeIn"></app-interests> -->
</div>
