<!-- About-->
<section class="d-flex" id="about">
    <div class="resume-section-content">
        <div class="d-flex flex-wrap">
            <img src="https://via.placeholder.com/150?text=KZY" alt="..." class="img-thumbnail rounded-circle mx-auto ms-sm-0 me-sm-4 d-block d-lg-none">
            <div class="subheading py-3">
                <h1>{{personalInfor.name}}</h1>
                <div class="">
                    <h6>Email: 
                        <a [href]="'mailto:'+personalInfor.email">{{personalInfor.email}}</a>
                    </h6>
                    <h6>Phone: {{personalInfor.phone}}</h6>
                </div>
                <div class="">
                    <a class="social-icon" target="_blank" title="linkedin url" name="linkedin url" 
                        [href]="personalInfor.linkedInUrl"
                        *ngIf="personalInfor.linkedInUrl">
                        <fa-icon [icon]="faLinkedinin" [size]="'2x'"></fa-icon>
                    </a>
                    <a class="social-icon" target="_blank" title="github url" name="github url" 
                        [href]="personalInfor.githubUrl"
                        *ngIf="personalInfor.githubUrl">
                        <fa-icon [icon]="faGithub" [size]="'2x'"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <p class="mb-2">Analytically-driven and efficient full stack developer with 5+ years of experience in application, presentation layers and databases. Spearheaded refactoring existing administrator management website, increasing overall website performance and improving client’s employee’s workflow.</p>
    </div>
</section>