<section class="py-4" id="education">
    <div class="resume-section-content">
        <h2 class="mb-3">Education</h2>
        <div class="d-flex flex-column flex-sm-row justify-content-between mb-3">
            <div class="flex-grow-1">
                <h4>Computer Engineering B.S, University Name`</h4>
                <div class="ps-4">
                    <div>Minor: Applied Mathematics</div>
                    <div>GPA: 3.9</div>
                </div>
            </div>
            <div class="flex-shrink-0">
                <h5>May 2005 - May 2008</h5>
            </div>
        </div>
    </div>
</section>